{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
    {{block.super}}
    <link rel="stylesheet" href="{% static 'component.css' %}">
    {% comment %}
        <script type="text/javascript" src="{% static 'js/modernizr.custom.form.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/nlform.js' %}"></script>
    {% endcomment %}
{% endblock head %}

{% block body-wrapper %}
<body class="survey-body">

    {% block body %}

        <div id="main-content">

            <div class="suvey-wrapper-bordes">
                <div class="survey-wrapper valign-wrapper">

                    <div class="valign">
                        
                        <div class="main clearfix">
                            <form id="nl-form" class="nl-form">
                                {% comment %}

                                I am a
                                <select>
                                    <option value="1">junior</option>
                                    <option value="2">middle</option>
                                    <option value="3">senior</option>
                                </select>

                                <!--
                                <div class="nl-field nl-dd nl-field-open">
                                    <a class="nl-field-toggle">junior</a>
                                    <ul>
                                        <li class="nl-dd-checked">junior</li>
                                        <li>middle</li>
                                        <li>senior</li>
                                    </ul>
                                </div>
                                -->

                                <select>
                                    <option value="1" selected>Web</option>
                                </select>

                                <select>
                                    <option value="1" selected>Frontend</option>
                                    <option value="2" selected>Backend</option>
                                    <option value="3" selected>Fullstack</option>
                                </select>
                                developer.
                                <br />I am comfortable work in a
                                <select>
                                    <option value="1" selected>Small (1-10)</option>
                                    <option value="2">Medium (10-100)</option>
                                    <option value="3">Big (>100)</option>
                                </select>
                                <br /> team on a project that has

                                <select>
                                    <option value="1" selected>Highload</option>
                                    <option value="2">Mediumload</option>
                                    <option value="3">Lowload</option>
                                </select>

                                <!--
                                in <input type="text" value="" placeholder="any city" data-subline="For example: <em>Los Angeles</em> or <em>New York</em>"/>
                                -->
                                {% endcomment %}
                                


                                {% comment %}
                                <div class="nl-submit-wrap">
                                    <button class="nl-submit" type="submit">Find a restaurant</button>
                                </div>
                                {% endcomment %}


                                <div class="nl-overlay"></div>
                            </form>
                        </div> <!-- /.main -->

                        
                        {% comment %}
                        <div class="step step-1" data-step="1" style="display: block; margin-top: 0;">
                            <h4><a href="#">Designer</a></h4>
                            <h4><a href="#">Marketolog</a></h4>
                            <h4><a href="#">Programmer</a></h4>
                        </div>

                        <div class="step step-2 survey__team-size" data-step="2">
                            <h2>Size of company</h2>
                            <h4><a href="#">1-10</a></h4>
                            <h4 style="text-align: right;"><a href="#">10-50</a></h4>

                            <br />

                            <h4><a href="#">50-200</a></h4>
                            <h4 style="text-align: right;"><a href="#">>200</a></h4>
                        </div>
                        {% endcomment %}

                    </div>

                </div>
            </div>

            <div class="preloader-wrapper big active">
                <div class="spinner-layer spinner-blue-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                        <div class="circle"></div>
                    </div><div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>

        </div> <!-- /#main-content -->

    {% endblock body %}

    {% block job-details %}
        {{ block.super }}
    {% endblock job-details %}


    {% block base-scipts %}
        {{ block.super }}
        
        <script type="text/javascript" src="{% static 'js/nlform.jq.js' %}"></script>

        <script>
            // var nlform = new NLForm( document.getElementById( 'nl-form' ) );
            var nlform = new NLForm($('#nl-form'));
        </script>

    {% endblock base-scipts %}

</body>
{% endblock body-wrapper %}
