{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
    {{block.super}}
{% endblock head %}

{% block body %}
    
    {{block.super}}

    {% include "body.html" %}

    <div class="container">
        <div id="grid" class="full-job grid row">

            <div class="col s12 l10 offset-l1">
                <div class="card">
                    <div class="card-content">

                        <h2 class="job-name center-align">{{job.name}}</h2>
                        <h3 class="job-company card-title center-align">{{job.company_name}}</h3>
                        
                        <div class="job-details">
                            <p class="left-align">
                                {% if job.salary %} {{job.salary}} {% endif %}
                            </p>

                            <p class="right-align">
                                {% if job.exp %} {{job.exp}} {% endif %}
                            </p>
                        </div>

                        <div class="job-text">
                        {% comment %}
                            {{job.text|splitbytag|slice:':1'|join:''}}
                        {% endcomment %}
                            {{job.text|safe}}
                        </div>

                    </div>
                </div>

                <div class="card">
                    <div class="card-content">
                        <div class="job-keywords">
                            {% for keyword in job.keywords.all %}
                                {{keyword}}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </div>

                        <div class="job-skills">
                            {% for skill in job.skills.all %}
                                <a href='/?q={{skill.name}}'>
                                    {{skill.name}}
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-content share-btns-wrapper">
                        <span>Share</span>

                        <a href="mailto:?subject={{job.name}} at {{job.company_name}}&body=Hi%2C%0A%0A{{job.company_name}} is hiring a {{job.name}}%21%0A%0A{{request.build_absolute_uri}}">
                            <i class="fa fa-envelope"></i>
                            <!-- Email -->
                        </a>

                        <a class="share-btn" href='https://www.linkedin.com/shareArticle?mini=true&source=Sagfi&title={{job.name}}&url={{request.build_absolute_uri}}' target="_blank">
                            <i class="fa fa-linkedin-square"></i>
                            <!-- LinkedIn -->
                        </a>

                        <a class="share-btn" href='http://twitter.com/share?text={{job.name}} at {{job.company_name}}&url={{request.build_absolute_uri}}' target="_blank">
                            <i class="fa fa-twitter"></i>
                            <!-- Twitter -->
                        </a>
                    
                        <a class="share-btn" href='https://www.facebook.com/sharer/sharer.php?u={{request.build_absolute_uri}}' target="_blank">
                            <i class="fa fa-facebook"></i>
                            <!-- Facebook -->
                        </a>
                        

                        <!--
                        <a class="twitter popup" href="http://twitter.com/share?text={{post.title}}" target="_blank">
                            <i class="fa fa-twitter fa-2x"></i>
                        </a>
                        <a class="facebook popup" href="https://www.facebook.com/sharer/sharer.php?u=" target="_blank">
                            <i class="fa fa-facebook fa-2x"></i>
                        </a>
                        -->

                    </div>
                </div>

                <a class="btn-apply waves-effect btn" href="{{job.url}}" target="_blank" rel="nofollow">
                    Apply
                </a>
            
            </div> <!-- /.col -->
        </div> <!-- /.grid -->
    </div>

    <script type="text/javascript">

        $('.share-btn').click(function(e){

            e.preventDefault();

            var width  = 575,
                height = 400,
                left   = ($(window).width()  - width)  / 2,
                top    = ($(window).height() - height) / 2,
                opts   = 'status=1' +
                         ',width='  + width  +
                         ',height=' + height +
                         ',top='    + top    +
                         ',left='   + left;

            window.open(this.href, 'sharing', opts);
 
            return false;
        });

    </script>


{% endblock body %}