{% load staticfiles %}

    <div class="container">
        <div class="full-job grid row card">

            <div class="job-header">
                <h2 class="job-name center-align">{{job.name}}</h2>
                {# <h3 class="job-company card-title center-align">{{job.company_name}}</h3> #}

                <div class="job-details center-align">
                    <p>
                        {% if job.salary %} {{job.salary}} {% endif %}
                    </p>

                    <p>
                        {% if job.exp %} {{job.exp}} {% endif %}
                    </p>
                </div>
            </div>

            <div class="job-main col s12 l9">

                <div class="job-keys">
                    <div class="job-keywords">
                        {% for keyword in job.keywords.all %}
                            {{keyword}}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </div>

                    <div class="job-skills">
                        {% for skill in job.skills.all %}
                            <a href='/?q={{skill.name}}'>
                                {{skill.name}}
                            </a>
                        {% endfor %}
                    </div>
                </div>

                    <div class="card-content">

                        <div class="job-text">
                        {% comment %}
                            {{job.text|splitbytag|slice:':1'|join:''}}
                        {% endcomment %}
                            {{job.text|safe}}
                        </div>

                    </div>
            
            </div> <!-- /.col -->

            <div class="right-column col l3">
                <div class="company-card">
                    <h2>{{job.company.name}}</h2>

                    {% if job.company.domain %}
                        <a href="{{job.company.domain}}" class="company-domain">
                            <i class="fa fa-link"></i>{{job.company.domain}}
                        </a>
                    {% endif %}

                    {% if job.company.alexa_rank %}
                        <p><i class="fa fa-info-circle"></i> Alexa rank: {{job.company.alexa_rank}}</p>
                    {% endif %}

                    {% if job.company.top_country %}
                        <p><i class="fa fa-globe"></i> Most popular in {{job.company.top_country}}</p>
                    {% endif %}

                    {% if job.company.month_visitors %}
                        <p><i class="fa fa-users"></i> Month visitors: ~{{job.company.month_visitors}}</p>
                    {% endif %}

                    {% if job.company.team_size %}
                        <p><i class="fa fa-building"></i> Employees: {{job.company.team_size}}</p>
                    {% endif %}

                    {% if job.company.description %}
                        <p>{{job.company.description}}</p>
                    {% endif %}

                    {% for tech in job.company.technologies.all %}
                        <div class="company-technology">    
                            <img src="{% static 'tech-icons/' %}{{tech.icon}}" class="tooltipped" data-position="bottom" data-delay="30" data-tooltip="{{tech.name}}" />
                            {# <span>{{tech.name}}</span> #}
                        </div>
                    {% endfor %}

                </div> {# /.company-card #}

                <div class="apply-card">
                    <a class="btn-apply waves-effect btn" href="{{job.url}}" target="_blank" rel="nofollow">
                        Apply
                    </a>

                    <div class="card-content share-btns-wrapper">
                        <span>Share</span>

                        <a href="mailto:?subject={{job.name}} at {{job.company_name}}&body=Hi%2C%0A%0A{{job.company_name}} is hiring a {{job.name}}%21%0A%0A{{request.build_absolute_uri}}">
                            <i class="fa fa-envelope"></i>
                            <!-- Email -->
                        </a>

                        <a class="share-btn" href='https://www.linkedin.com/shareArticle?mini=true&source=Sagfi&title={{job.name}}&url={{request.build_absolute_uri}}' target="_blank">
                            <i class="fa fa-linkedin-square"></i>
                            <!-- LinkedIn -->
                        </a>

                        <a class="share-btn" href='http://twitter.com/share?text={{job.name}} at {{job.company_name}}&url={{request.build_absolute_uri}}' target="_blank">
                            <i class="fa fa-twitter"></i>
                            <!-- Twitter -->
                        </a>
                    
                        <a class="share-btn" href='https://www.facebook.com/sharer/sharer.php?u={{request.build_absolute_uri}}' target="_blank">
                            <i class="fa fa-facebook"></i>
                            <!-- Facebook -->
                        </a>
                    </div>

                </div> {# /.apply-card #}


            </div> {# /.right-column #}

        </div> <!-- /.grid -->
    </div> <!-- /.container -->

    <script type="text/javascript">

        $('.share-btn').click(function(e){

            e.preventDefault();

            var width  = 575,
                height = 400,
                left   = ($(window).width()  - width)  / 2,
                top    = ($(window).height() - height) / 2,
                opts   = 'status=1' +
                         ',width='  + width  +
                         ',height=' + height +
                         ',top='    + top    +
                         ',left='   + left;

            window.open(this.href, 'sharing', opts);
 
            return false;
        });

    </script>
